node_modules
.next
out
build
dist
coverage
next-env.d.ts
tsconfig.tsbuildinfo
playwright-report
test-results

.env
.env*.local

.DS_Store
*.log
.pnpm-debug.log*

public/uploads/*
!public/uploads/.gitkeep

prisma/dev.db
prisma/dev.db-journal
